 

.button
{    margin-top: 30px;
     margin-left:0px;}


.btn
{   border:1px solid white;
    padding:10px 30px;
    color:white;
    text-align: center;
    text-decoration: none;
    margin-right:5px;
    font-size: 13px;
    text-transform: uppercase;
    
}


.btn-two
{
    
    font-family:"Roboto",sans-serif;
}

.btn-two:hover
{
    background-color:coral;
    transition: :all 0.5s ease-in;
}
















































